/* Asignar propiedad de flex */
.flex {
    display: flex;
    flex-flow: row wrap;
    height: 200px;

}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.primero {
    /* Crecer de manra dinámica dependiendo del espacio disponible */
    flex-grow: 1;
    
    /* Asignarle un ancho inicial a la propiedad */
    flex-basis: 50px;

    /* Asignar flex-grow y flex-basis en una sola l */
    flex: 1 50px;
}

.cuarto {
    flex-grow: 2;
}